# OS-specific files
.DS_Store
/.quarto/
Thumbs.db
Desktop.ini

# Logs
*.log
*.tmp
*.bak

# Python
__pycache__/
*.py[cod]
.venv/
.env


# Ignore everything in .vscode
.vscode/*

# Allow shared workspace settings
!.vscode/settings.json

**/*.quarto_ipynb
